.idea

cmuclmtk-0.7*

pocketsphinx*
sphinxtrain*
sphinxbase*
speech_recognition
snowboy

isolated_words
mixed_content

cmusphinx-es-5.2*
es*

adapting_model
creating_model

Hola.pmdl
SpeechRecognizer*
